<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 style="text-align: center">User Information</h1>
    <br>
    <form th:action="@{saveUser}" th:object="${newUser}" method="post">
        <input type="text" th:field="*{userName}" class="form-control col-4 mb-4" placeholder="Enter user name">
        <input type="text" th:field="*{email}" class="form-control col-4 mb-4" placeholder="Enter email">
        <input type="text" th:field="*{birthday}" class="form-control col-4 mb-4" placeholder="Enter birthday">
        <input type="submit" value="Save" class="btn btn-primary">
        <input type="hidden" th:field="*{id}">
    </form>
</div>
</body>
</html>